<form class="site-search" id="site-search-form" action="https://duckduckgo.com">
<label class="screen-reader-text" for="aa-search-input">Search</label>
<input type="search" name="q" id="aa-search-input" class="aa-input-search" placeholder="Search..." autocomplete="off">
<input type="hidden" name="sites" value="{{ site.url | remove_first: 'http://' | remove_first: 'https://' }}"/>
<svg class="aa-input-icon" viewBox="654 -372 1664 1664">
    <path d="M1806,332c0-123.3-43.8-228.8-131.5-316.5C1586.8-72.2,1481.3-116,1358-116s-228.8,43.8-316.5,131.5  C953.8,103.2,910,208.7,910,332s43.8,228.8,131.5,316.5C1129.2,736.2,1234.7,780,1358,780s228.8-43.8,316.5-131.5  C1762.2,560.8,1806,455.3,1806,332z M2318,1164c0,34.7-12.7,64.7-38,90s-55.3,38-90,38c-36,0-66-12.7-90-38l-343-342  c-119.3,82.7-252.3,124-399,124c-95.3,0-186.5-18.5-273.5-55.5s-162-87-225-150s-113-138-150-225S654,427.3,654,332  s18.5-186.5,55.5-273.5s87-162,150-225s138-113,225-150S1262.7-372,1358-372s186.5,18.5,273.5,55.5s162,87,225,150s113,138,150,225  S2062,236.7,2062,332c0,146.7-41.3,279.7-124,399l343,343C2305.7,1098.7,2318,1128.7,2318,1164z" />
</svg>
</form>

{%- comment %}
For releases and integrity hashes (SRI), see:
* https://www.jsdelivr.com/package/npm/algoliasearch
* https://www.jsdelivr.com/package/npm/autocomplete.js

We use type="module" as a natural way to cut the mustard,
executing the script only on modern browsers with ES6 support,
and causing no errors on older browsers.
See https://responsivenews.co.uk/post/18948466399/cutting-the-mustard
{% endcomment %}
<script type="module">
    const loadSearch = () => Promise.all([
        new Promise((resolve) => document.body.append(Object.assign(document.createElement('script'), {
            crossOrigin: 'anonymous',
            integrity: 'sha256-YuyfhK9VEyfW6ejFiPbfOX2SELbFrgFU/8tU3MHuh60=',
            src: 'https://cdn.jsdelivr.net/npm/algoliasearch@4.3.1/dist/algoliasearch-lite.umd.js',
            onload: resolve
        }))),
        new Promise((resolve) => document.body.append(Object.assign(document.createElement('script'), {
            crossOrigin: 'anonymous',
            integrity: 'sha256-YVWQosorZnr6fALvOW9VALYuInld27RkSPkElGBdCaU=',
            src: 'https://cdn.jsdelivr.net/npm/autocomplete.js@0.37.1/dist/autocomplete.min.js',
            onload: resolve
        })))
    ]);
    let restoreFocus = false;
    async function setupSearch(e) {
        // Remember if first input happened, to restore focus as-needed since
        // autocomplete.js will replace the input element.
        // This is before "once" check, to account for input between start and end of preload
        restoreFocus = restoreFocus || (e && (e.type === 'click' || e.type === 'focus'));

        // Enforce "once" for loading scripts and configuring search field
        if (setupSearch.setup) return;
        setupSearch.setup = 1;
        await loadSearch();

        const client = algoliasearch('{{ site.amethyst.algolia.application_id | default: site.algolia.application_id }}', '{{ site.amethyst.algolia.search_only_api_key }}');
        {% if site.amethyst.algolia.sources -%}
        const indexSources = {{ site.amethyst.algolia.sources | jsonify }};
        {%- elsif site.algolia.index_name -%}
        const indexSources = [{ index: {{ site.algolia.index_name | jsonify }} }];
        {%- else -%}
        const indexSources = [];
        {%- endif %}
        const escapeText = autocomplete.escapeHighlightedString;
        const autocompleteOptions = {
            hint: false,
            ariaLabel: 'search input',
            // Set debug to true to allow inspecting the dropdown
            debug: true,
            // Upon focus restore (see below), load suggestions if input is non-empty
            openOnFocus: true,
            templates: {
                // https://github.com/algolia/autocomplete.js/issues/248
                empty(query) {
                    return `No results for "${escapeText(query.query)}".`;
                }
            }
        };
        function formatURL(suggestion) {
            if (suggestion.anchor && suggestion.url.indexOf('#') === -1) {
                return suggestion.url + '#' + suggestion.anchor;
            } else {
                return suggestion.url;
            }
        }
        function newHitsSource(index, params) {
            return function doSearch(query, cb) {
                index
                    .search(query, params)
                    .then(function(res) {
                        cb(res.hits, res);
                    })
                    .catch(function(err) {
                        console.error(err);
                        cb([]);
                    });
            };
        }
        const autocompleteSources = indexSources.map(source => ({
            source: newHitsSource(client.initIndex(source.index), { hitsPerPage: 5 }),
            displayKey: '',
            templates: {
                suggestion(suggestion) {
                    const title = [ suggestion.title ].concat(suggestion.headings || []).join(' › ');
                    const content = suggestion._highlightResult.content && suggestion._highlightResult.content.value || '';
                    suggestion._href = (source.base || '') + formatURL(suggestion);
                    return `
                        <a href="${suggestion._href}" tabindex="-1">
                            <p class="aa-suggestion_title">${title}</p>
                            <p class="aa-suggestion_content">${content}</p>
                        </a>
                    `;
                }
            }
        }));
        const $input = autocomplete('#aa-search-input', autocompleteOptions, autocompleteSources)
            .on('autocomplete:selected', (e, suggestion) => location.href = suggestion._href || suggestion.url);
        if (restoreFocus) $input.focus();

        // Disable fallback form
        document.querySelector('#site-search-form').addEventListener('submit', (e) => e.preventDefault());
    }

    // Lazyload
    document.querySelector('#aa-search-input').addEventListener('focus', setupSearch, { once: true });
    document.querySelector('#site-search-form').addEventListener('click', setupSearch, { once: true });
    // Preload
    window.addEventListener('load', () => setTimeout(setupSearch, 7000));
</script>
