@forward "amethyst-variables";

$size-sm: 0.8rem;
$size-1: 1rem;
$size-2: 1.333rem;
$size-3: 1.777rem;
$size-4: 2.369rem;
$size-5: 3.157rem;
$size-spacing: $size-2;
$box-spacing: $size-1;

$color-white: #fff;
$color-light: #f4f4f4;
$color-off-white: #cdcdcd;
$color-darkgrey: #63676d; // based on 2015 api.jquery.com design
$color-black: #333;

$screen-s: 480px;
$screen-m: 768px;
$screen-l: 992px;
$screen-xl: 1200px;