// Amethyst theme variables

// Primary vibrant color
// (e.g. for link text and primary button background)
$color-vibrant: #666;

// Secondary accent color
// (e.g. darker than primary, for heading text and header background)
$color-accent: #222;

// Medium color
// (e.g. lighter than primary, for shades within the header and hero)
$color-medium: #555;

// Bright color
// (e.g. nearly white in primary hue)
$color-bright: #ddd;
