// Amethyst theme variables

// Primary color
//
// Usage: link text color, primary button background.
$color-vibrant: hsl(280, 70%, 40%);

// Dark shade
//
// Generally same hue as $color-vibrant,
// and within the following range: `hsl(???, 58-90%, 14-16%)`
//
// Usage: navigation background, heading text color
$color-accent: hsl(280, 58%, 14%);

// Bright color
//
// Very close to white, generally within 20 hue points of $color-vibrant,
// and within the following range: `hsl(???, 80-84%, 72-92%)`
//
// Usage: navigation link color, search result highlight background
$color-bright: hsl(260, 84%, 92%);
