---
layout: wrapper

# Parameters:
#
# - version_added: semver string (e.g. "1.2.3"). Can be linked by setting `site.amethyst.release_base`.
# - version_deprecated: semver string
# - version_removed: semver string
# - amethyst.prepend_description_heading: boolean. Default: true.
#
---

{%- comment -%}
Prepend "Description" header.
This makes sure the accessibility tree is valid since we generally want to
use H3 within the top section before later sections like "Changelog" and
"Examples". But, visually we merge the page title and "Description" together.

Rather than require a special class to be put on every page, we instead
do that here for convenience.
{%- endcomment -%}
{%- unless page.amethyst.prepend_description_heading == false or layout.amethyst.prepend_description_heading == false -%}
{%- capture content -%}
<h2 id="description" class="screen-reader-text h-api-desc">Description</h2>
{{ content }}
{%- endcapture -%}
{%- endunless -%}
<div class="main main--columns wrapper">
<div class="content" role="main">
<article>
    <header>
    <h1>{{ page.title }}</h1>
    {% if page.groups -%}
    <p class="post-meta">Categories: {% comment %} space {% endcomment -%}
        {%- for group in page.groups -%}
            {%- if page.groups.first != group %}, {% endif -%}
            {%- assign group_page = site.pages | where: "layout", "group" | where: "group", group | first -%}
            <a class="category" href="{{ group_page.url | relative_url }}">{{ group_page.title | escape }}</a>
        {%- endfor -%}
    .</p>
    {%- endif %}
    </header>
    {% if page.version_added or page.version_deprecated -%}
        {%- assign warning = false -%}
        {%- if page.version_added == "unreleased" or page.version_deprecated or page.version_removed -%}
            {%- assign warning = true -%}
        {%- endif -%}
        <p class="version-details">
        {%- if page.version_added %}
            {% include version.html version=page.version_added label="version added" %}
        {%- endif -%}
        {%- if page.version_deprecated %}
            {% include version.html version=page.version_deprecated label="deprecated" %}
        {%- endif -%}
        {%- if page.version_removed %}
            {% include version.html version=page.version_removed label="removed" %}
        {%- endif -%}
        </p>
    {%- endif %}
    {{ content }}
</article>
</div>
{%- assign toc = true -%}
{%- if layout.amethyst.toc == false -%}
    {%- assign toc = false -%}
{%- endif %}
{% include sidebar.html blocks="sidebar_api" toc=toc %}
</div>
