---
layout: wrapper
amethyst:
  pagetype: navigation
---

<div class="main main--columns wrapper">
{%- assign date_format_archive = site.amethyst.date_format_archive | default: "%B %Y" -%}
{%- assign posts = site.posts -%}
{%- assign prev_year = false -%}
<div class="posts content">
	<h1>{{ page.title }}</h1>
	{% for post in posts -%}
		{%- assign post_year = post.date | date: '%Y' -%}
		{%- if post_year != prev_year -%}
		{%- if prev_year != false %}</ul>{% endif %}
		<h3 id="{{ post_year | escape }}">{{ post_year | escape }}</h3>
		<ul>
		{%- assign prev_year = post_year -%}
		{%- endif %}
		<li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a><br><span class="post-meta">Posted <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format_archive }}</time>{% if post.author %} by {{ site.data.authors[post.author] | default: post.author | escape }}{% endif %}</span>
	{%- endfor -%}
	</ul>
</div>
{% include sidebar.html blocks="sidebar_blog" %}
</div>
