---
layout: wrapper
amethyst:
  pagetype: navigation
---

<div class="main main--columns wrapper">
{%- assign date_format = site.amethyst.date_format | default: "%e %B %Y" -%}
{%- assign posts = page.posts -%}
<div class="posts content">
	<h1>Archive: {{ page.date | date: '%Y' }}</h1>
	{%- for post in posts -%}
	<div class="post-row">
		<h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
		<p class="post-meta">Posted on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time>{% if post.author %} by {{ post.author | escape }}{% endif %}</p>
		<div class="post">
			{{- post.excerpt -}}
			{%- if post.excerpt != post.content %}
			<a class="screen-reader-text" href="{{ post.url | relative_url }}">Continue reading "{{ post.title | escape }}".</a>
			{%- endif -%}
		</div>
	</div>
	{%- endfor -%}
</div>
{% include sidebar.html blocks="sidebar_blog" %}
</div>
